@page 
@model NoName.Pages.Board.IndexModel
@{
    string[] posts = new string[14];
    @for (int i = 0; i < 14; i++)
    {
        posts[i] = "글" + (i + 1) + "번째 입니다";

    }

}
<head>
    <link rel="stylesheet" href="~/css/container.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">직업게시판</div>
                </div>
                </br>
                <form method="post">
                    <input type="text" class="form-control" placeholder="글을 작성하세요"
                           data-toggle="collapse" data-target="#collapseNote">
                    @*placeholder line break code = &#13;&#10;*@
                    <div id="collapseNote" class="form-group collapse">
                        <textarea class="form-control"
                                  placeholder="1. 에티켓을 지켜주세요.&#13;&#10;2. 비방을 삼가해 주세요."
                                  id="note" rows="7"></textarea>
                    </div>
                </form>
                <div class="card" id="postContents">
                    <div class="list-group">
                        @for (int i = 0; i < 14; i++)
                        {
                            <a asp-page="/Board/Detail" asp-page-handler="Post" asp-route-postNumber="@(i+1)" class="list-group-item list-group-item-action">@posts[i]</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 bg-danger">
                <partial name="Sidebar" />
            </div>
        </div>
    </div>
</body>