@page

@model NoName.Pages.Board.IndexModel
@{
    @*string[] posts = new string[14];
        @for (int i = 0; i < 14; i++)
        {
            posts[i] = "글" + (i + 1) + "번째 입니다";

        }*@
}
<head>
    <link rel="stylesheet" href="~/css/container.css" />
    @*use javascript about boards*@
    <script type="text/javascript" src="~/js/Board.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="card card-body">
                    <h3 class="font-weight-bold">직업게시판</h3>
                    @*@Model.Message*@
                </div>
                @{ var isJobBoard = 1;}
                @if (isJobBoard == 1)
                {
                    @*text, textarea, button 세가지 input을 하나의 구조로 묶기위한 form-group*@
                    <form class="form-group" method="post">
                        @*text타입의 input, data-toggle로 확장-축소 가능, data-target으로 기능 적용할 태그 선택*@
                        <input type="text" id="postTitle" asp-for="TablePost.Title" class="form-control mt-3" placeholder="글을 작성하세요">
                        @*<span asp-validation-for="TablePost.Title" class="text-danger"></span>*@

                        <div id="collapseArea" class="form-group collapse">
                            <textarea class="form-control" asp-for="TablePost.Content"  placeholder="1. 에티켓을 지켜주세요.&#13;&#10;2. 비방을 삼가해 주세요." rows="7"></textarea>
                            @* <span asp-validation-for="TablePost.Content" class="text-danger"></span>*@
                        </div>
                        <div id="collapseBtn" class="form-group collapse">
                            <row>
                                <button type="submit" class="btn col-sm-12 btn-light" @*data-toggle="collapse" data-target="#collapseNote"*@>게시</button>
                            </row>
                        </div>
                    </form>
                }
                <div class="list-group mt-3">
                    @for (int i = 0; i < Model.Board.Count; i++)
                    {
                        var index = Model.Board.Count - i - 1;
                        <a asp-page="/Board/Detail" asp-route-postNumber=@Model.Board[index].PostNumber class="list-group-item list-group-item-action">@Model.Board[i].Title</a>

                    }
                    <div class="container mt-2">
                        <partial name="Pagination" />
                    </div>
                </div>
            </div>
            <div class="col-lg-3 bg-danger">
                <partial name="Sidebar" />
            </div>
        </div>
    </div>
</body>