@page
@model NoName.Pages.Board.WriteModel
@{
    ViewData["Title"] = "공지사항";
}
<body>
    <div class="notice">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 bg-warning">
                        <div class="card card-body">
                            <h3 class="font-weight-bold">@ViewData["Title"]</h3>
                        </div>
                        <div class="container">
                            <form class="form-group" method="post">
                                <div class="form-group">
                                    <label for="title">제목:</label>
                                    <input type="text" id="postTitle" asp-for="TablePost.Title" class="form-control">
                                    <label for="comment">내용:</label>
                                    <textarea id="comment" class="form-control" asp-for="TablePost.Content" rows="15"></textarea>
                                </div>
                                <br />
                                <input type="submit" class="btn btn-outline-dark float-right" value="작성">
                            </form>
                        </div>
                </div>
                <div class="col-sm-3 bg-success">
                    <partial name="SideBar" />
                </div>
            </div>
        </div>
    </div>
</body>