@page
@model NoName.Pages.CRUDIndexModel
@{
}

<p><h5>Job 1 당 게시판 6개, 게시판 1개 당 Post 10개 생성</h5></p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataJob.JobCode" class="control-label"></label>
                <input asp-for="DataJob.JobCode" class="form-control" />
                <span asp-validation-for="DataJob.JobCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataJob.JobName" class="control-label"></label>
                <input asp-for="DataJob.JobName" class="form-control" />
                <span asp-validation-for="DataJob.JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>