@page
@model NoName.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header bg-white border-0 text-center">
                        <i class="fas fa-user-alt " style="font-size:60px"></i>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-1" style="text-align:center">내 정보</h5>
                        <p class="card-text mb-0" style="text-align:center">홍길동</p>
                        <p class="card-text mb-1" style="text-align:center">hgd111</p>
                        <a class="btn btn-outline-dark float-left px-xl-3 px-lg-2 " asp-area="" asp-page="Pages/Account/Manage/Profile">내 정보</a>
                        <a class="btn btn-outline-dark float-right px-xl-3 px-lg-2" asp-area="" asp-page="/Index">로그아웃</a>
                    </div>
                </div>

                <div class="list-group mt-2">
                    <a class="list-group-item list-group-item-action" asp-area="" asp-page="/MyPage/MyPosts">내가 쓴 글</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-page="/MyPage/CommentPost">댓글 단 글</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-page="/MyPage/MyScrap">스크랩</a>
                </div>

                <div id="banner"></div>
            </div>
            <div class="col-lg-6 ">
                <div class="card card-body h-25 bg-warning">
                    배너
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card list-group mt-2">
                            @{ViewData["자유게시판"] = 4;
                                ViewData["listNumber"] = 4;

                            }
                            @foreach (var boardPreview in Model.PreviewBoards)
                            {
                                <partial name="BoardPreview" model="boardPreview" view-data="ViewData" />
                            }
                            @*<a asp-page="/Board/Index" asp-route-boardCode="4" class="list-group-item list-group-item-action bg-primary text-white">@Model.PreviewBoards[5].BoardName</a>
        <a href="#" class="list-group-item list-group-item-action">@Model.PreviewBoards[5].PostList[1].Title</a>
        <a href="#" class="list-group-item list-group-item-action">글 목록1</a>*@
                        </div>
                        <div class="card list-group  mt-2">
                            <a asp-page="/Board/Index" asp-route-boardCode="5" class="list-group-item list-group-item-action bg-primary text-white">홍보게시판</a>
                            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card list-group  mt-2">
                            <a asp-page="/Board/Index" asp-route-boardCode="6" class="list-group-item list-group-item-action bg-primary text-white">정보게시판</a>
                            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                        </div>
                        <div class="card list-group  mt-2">
                            <a asp-page="/Board/Index" asp-route-boardCode="7" class="list-group-item list-group-item-action bg-primary text-white">비밀게시판</a>
                            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <partial name="Sidebar" />
            </div>
        </div>
    </div>