@page
@model NoName.Pages.MainModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/container.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 bg-success">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">내 정보</h5>
                        <p class="card-text" style="text-align:center">홍길동</p>
                        <p class="card-text" style="text-align:center">hgd111</p>
                        <a class="btn btn-dark" asp-area="" asp-page="/Index" style="float:right;width:6rem; border:thin;">로그아웃</a>
                    </div>
                </div>

                <div class="list-group" style="margin-top:10px">
                    <a class="list-group-item list-group-item-action" asp-area="" asp-page="/MyPage/MyPosts">내가 쓴 글</a>
                    <a class="list-group-item lis   t-group-item-action" asp-area="" asp-page="/MyPage/CommentPost">댓글 단 글</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-page="/MyPage/MyScrap">스크랩</a>
                </div>

                <div id="banner"></div>
            </div>
            <div class="col-lg-6 bg-warning">
                <div class="row">
                    <div class="col-lg-6 bg-danger">
                        <div class="card">
                            <div class="list-group">
                                <a asp-page="/Board/Index" class="list-group-item list-group-item-action" style="color:blue;">자유게시판</a>
                                <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                                <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 bg-secondary">

                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action" style="color:blue;">정보게시판</a>
                            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 bg-success">
                <partial name="Sidebar" />
            </div>
        </div>
    </div>
</body>