@*asp-page-handler 앵커태그 사용시 handler와 id가 addressbar에 드러나는것을 숨기고 '/'로 대체*@
@page "{handler?}/{id?}"
@model NoName.Pages.NoticeModel
@namespace NoName.Pages
@{
    ViewData["Title"] = "공지사항";
    NoName.Pages.NoticeModel.NoticeBoard[] noticeBoard = new NoticeModel.NoticeBoard[5];

    @for (int i = 0; i < noticeBoard.Length; i++)
    {
        NoticeModel.NoticeBoard temp = new NoticeModel.NoticeBoard();
        temp.Initialization();
        noticeBoard[i] = temp;
        noticeBoard[i].PostNumber = i + 1;
        noticeBoard[i].UserId = "soohwan";
        noticeBoard[i].Title = "코로나 확진자" + i + "명 입니다.";
        noticeBoard[i].CreateTime = DateTime.Now;
    }
}
<head>
    <link rel="stylesheet" href="~/css/container.css" />
</head>

<body>
    <div id="content">
        <div class="card">
            <div class="card-body">@ViewData["Title"]</div>
        </div>
        <div class="card" id="postContents">
            <div class="list-group">
                @for (int i = noticeBoard.Length - 1; i >= 0; i--)
                {
                    @*핸들러 사용*@
                    <a class="list-group-item list-group-item-action"
                       asp-page="/Notice" asp-page-handler="Post" asp-route-postNUmber=@noticeBoard[i].PostNumber>
                        @noticeBoard[i].Title
                    </a>
                }
            </div>
            <div class="card-body text-right">
                <form method="post">
                    @*글쓰기 페이지가 없는관계로 임시*@
                    <button class="btn btn-outline-dark" asp-area="" asp-page="/Temp/Detail">Write</button>
                </form>
            </div>
        </div>
    </div>
    <partial name="SideBar" />
</body>