@*asp-page-handler 앵커태그 사용시 handler와 id가 addressbar에 드러나는것을 숨기고 '/'로 대체*@
@page "{handler?}/{id?}"
@model NoticeModel
@{
    ViewData["Title"] = "Notice";
    NoticeModel.NoticeBoard noticeBoard = new NoticeModel.NoticeBoard
    {
        PostNumber = 1,
        UserId = "soohwan",
        Category_Code = 12,
        Title = "코로나19관련 공지합니다.",
        Contents = "코로나19 복지 생활보건의료 코로나19 " +
        "신천지예수교회 서울 교회 및 부속기관 주소지 현황" +
        " 코로나19 관련 스미싱 등 피해 주의 코로나19 확진자 " +
        "이동경로 코로나19 예방행동수칙 홍보물(국문, 외국어) " +
        "코로나19 관련 취소·연기행사 현황(1월~2월) 코로나19",
        Views = 123,
        LikeCount = 100,
        DislikeCount = 20,
        IsNewComment = true,
        CreateTime = new DateTime(20200220),
        LastModifiedTime = new DateTime(20200224),
        Deleted = false,
        DeletedTime = new DateTime(0)
    };
}
<head>
    <link rel="stylesheet" href="~/css/container.css" />
</head>

<body>
    <h1>@ViewData["Title"]</h1>
    <p>공지사항</p>
    <div id="content">
        <div class="card">
            <div class="card-header">공지사항</div>
            <div class="card-body" id="postContents">
                <div class="list-group">
                    @for (int i = 0; i < 1; i++)
                    {
                        <a asp-page="/Notice" asp-page-handler="Post" asp-route-postNUmber=@noticeBoard.PostNumber>
                            @noticeBoard.Title
                        </a>
                    }
                </div>
                <div class="card-body text-right">
                    <form method="post">
                        @*글쓰기 페이지가 없는관계로 임시*@
                        <button class="btn btn-outline-dark" asp-page="/FAQ">Write</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div id="sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue;">실시간 인기글</a>
            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>

        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue; margin-top:10px;">주간 인기글</a>
            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>

        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue; margin-top:10px;">HOT 게시글</a>
            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>

        </div>
    </div>
</body>