@*  20.03.12
    PageModel을 상속받은 모델을 사용하지 않고
    Pagination(페이지관리객체)을 모델로 둠  *@
@namespace NoName.Data.DbData
@model NoName.Pages.Pagination<TablePost>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div id="pagination">
    @*2페이지 이상부터 pagination 생성*@
    @if (Model.CurrentPage > 1)
    {
        <ul class="pagination justify-content-center">
            <li class="page-item @prevDisabled">
                <a asp-page="/Support" asp-page-handler="Page" asp-route-page="Model.PreviousPage">Previous</a>
            </li>
            @{ int i = Model.StartPage;}
            @while (i < Model.StartPage + Model.PageBarSize && i < Model.TotalPages)
            {
                <li class="page-item">
                    <a asp-page="/Support" asp-page-handler="Page" asp-route-page="@i">@i</a>
                </li>
                i++;
            }

            <li class="page-item @nextDisabled">
                <a asp-page="/Support" asp-page-handler="Page" asp-route-page="Model.NextPage">Next</a>
            </li>
        </ul>
    }
</div>