@page
@model NoName.Pages.RulesModel
@namespace NoName.Pages
@{
    ViewData["Title"] = "커뮤니티이용규칙";
}
<head>
    <link rel="stylesheet" href="~/css/container.css" />
</head>

<body>
    <div id="container" class="rules">
        <div class="card">
            <div class="card-body"><h1>@ViewData["Title"]</h1></div>
        </div>
        <div class="section">
            </br>
            </br>
            <h5>커뮤니티 이용규칙</h5>
            <ol>
                <li>커뮤니티를 이용하기 전 커뮤니티 이용규칙의 모든 내용을 반드시 숙지해주시기 바랍니다.</li>
                <li>이 약관의 정의는 서비스 이용약관을 따릅니다.</li>
            </ol>

            <h5>신고처리 시스템</h5>
            <ol>
                <li>모든 게시물은 이용자의 신고를 기반으로 하는 신고처리 시스템을 통해 처리됩니다. 커뮤니티 이용규칙에 어긋난다고 판단되는 글, 댓글, 게시판, 1:1 대화를 발견하셨을 경우, 신고 버튼을 눌러 신고해주시기 바랍니다.</li>
                <li>커뮤니티 이용규칙에 어긋나거나, 다른 이용자에게 신고를 받을 수 있는 게시물을 작성해서는 안됩니다. 신고 누적으로 인해 발생한 피해는 어떠한 경우에도 책임을 지지 않습니다.</li>
                <li>신고가 누적되었거나 커뮤니티 이용규칙을 위반한 이용자는 작성한 게시물이 삭제될 수 있으며, 행위의 경중과 반복 여부에 따라 1일부터 5년까지의 글쓰기 및 1:1 대화 이용 제한, 전체 서비스 접근 제한 등의 제재가 가해질 수 있습니다.</li>
                <li>모든 처리는 신고처리 시스템을 통하므로, 신고자 및 신고 사유를 확인하거나 접근 제한을 해제하는 것은 불가능합니다.</li>
                <li>신고 시, 처리를 위해 게시물 및 1:1 대화의 일부가 일시적으로 저장될 수 있습니다.</li>
            </ol>

            <h5>유출방지 시스템</h5>
            <ol>
                <li>커뮤니티 이용 시, 게시물을 복사, 스크린샷 등을 통해 외부로 유출해서는 안 됩니다. 게시물 유출 피해를 방지하기 위해, 유출방지 시스템이 실시간으로 동작하여 게시물 유출을 감지하고 있습니다.</li>
                <li>유출방지 시스템을 통해 게시물 유출이 적발될 경우, 5년의 전체 서비스 접근제한이 가해집니다. 만약 게시물 유출을 발견하셨을 경우, <a href="/page/qna?category=moim_leak">게시물 유출 신고</a>를 통해 신고해주시기 바랍니다.</li>
                <li>이용자는 게시물 유출 행위로 인해 발생한 모든 피해에 대한 민형사상 책임과 손해를 배상할 책임이 있습니다.</li>
            </ol>

            <h5>금지 행위</h5>
            <p>다음 목록에 해당하는 게시물 작성, 1:1 대화 발송, 게시판 개설, 악용 행위를 금지하고 있습니다.</p>
            <ol>
                <li>예의범절에 어긋나는 행위</li>
                <ul>
                    <li>타인 또는 특정단체·지역에 대한 욕설, 악담, 비방, 비하, 비아냥</li>
                    <li>내용·결말을 발설하거나, 혐오를 불러일으키거나, 속이거나, 놀라게 하는 행위</li>
                    <li>과도한 정치·종교 연관 행위</li>
                </ul>
                <li>미풍양속에 어긋나는 행위</li>
                <ul>
                    <li>외설, 음란물, 음담패설, 신체사진 등 청소년유해매체물 게시</li>
                    <li>불건전한 모임, 대화, 통화 등 온·오프라인 만남</li>
                    <li>유흥 관련 정보 공유, 매매·알선 행위 등 불법 행위</li>
                </ul>
                <li>기업·비영리기관·개인·단체의 직간접적 광고·홍보·판매 행위</li>
                <ul>
                    <li>계정 공유 요청, 홍보 요청, 바이럴 이벤트 등 게시물 대리 작성 행위</li>
                    <li>공모전, 대외활동, 이벤트, 아카데미, 채용, 행사, 강연, 공연, 영화 홍보</li>
                    <li>교육, 의료, 식당, 부동산, 배달, 공유 사업 홍보</li>
                    <li>어플리케이션, 웹사이트, 블로그, 카페, 서비스 홍보</li>
                    <li>구독, 좋아요, 학우 참여, 링크 클릭, 추천인 입력, 앱 설치, 회원가입 요청</li>
                    <li>공동구매, 펀딩, 기부금품 요청 행위</li>
                    <li>기타 광고·홍보·판매 관련 게시물 일체</li>
                </ul>
                <li>비정상적 서비스 이용 행위</li>
                <ul>
                    <li>특정 주제의 도배글, 내용 없는 글 등 비정상적 게시물 작성 행위</li>
                    <li>익명을 이용한 여론 조작 행위</li>
                    <li>오류를 발생시키는 특수문자 작성 행위</li>
                    <li>허위 신고, 다중 계정 및 단체의 일괄 신고 등 신고 시스템 악용 행위</li>
                    <li>강의평가, 시험정보, 장터, 학식 리뷰 등 서비스 내 비정상적 정보 기재 행위</li>
                </ul>
                <li>불법 행위</li>
                <ul>
                    <li>초상권, 저작권 침해 등 타인의 권리를 침해하는 행위</li>
                    <li>커뮤니티 유출, 시스템 해킹 등 커뮤니티에 악영향을 주는 행위</li>
                    <li>운영자 또는 이에 준하는 자격을 사칭하여 권한을 행사하는 행위</li>
                    <li>암표 등 수익 목적의 재판매 행위</li>
                    <li>기타 관련 법률에 위배되는 행위</li>
                </ul>
                <li>게시물 작성 전 명시되어 있는 게시판 별 규칙에 어긋나는 행위</li>
                <li>기타 위 목록의 행위와 동일하거나 비슷한 목적을 달성하기 위한 행위 일체</li>
            </ol>

            <h5>게시판 관리자 제도</h5>
            <ol>
                <li>게시판 관리자는 자신의 게시판에 올라오는 게시물을 공지로 지정하거나 삭제, 경고할 수 있습니다.</li>
                <li>게시판 관리자는 탈퇴할 수 없습니다. 탈퇴를 위해서는 게시판을 삭제하거나 다른 회원에게 관리자 권한을 양도해야 합니다. 단, 게시판은 개설 후 3일이 지나지 않았거나, 14일 동안 게시물이 올라오지 않았을 때만 삭제할 수 있습니다.</li>
                <li>다음 목록에 해당하는 경우, 게시판이 강제로 폐쇄되거나 게시판 관리자 권한이 박탈될 수 있습니다.</li>
                <ul>
                    <li>게시판 관리자가 커뮤니티 이용규칙을 어길 경우</li>
                    <li>커뮤니티 이용규칙에 어긋나는 게시물이 삭제되지 않을 경우</li>
                    <li>게시판에 14일 이상 게시물이 올라오지 않을 경우</li>
                    <li>게시판 관리자가 존재하지 않을 경우</li>
                </ul>
            </ol>

            <h5>허위사실 유포 및 명예훼손 게시물에 대한 게시중단 요청</h5>
            <ol>
                <li>모든 게시물은 신고처리시스템에 의해 자동으로 처리되며, 요청에 의해 사전 검토되거나 임의로 처리되지 않습니다.</li>
                <li>에브리타임의 게시물로 인해, 저작권 침해, 명예훼손, 기타 권리 침해를 당했다고 판단되실 경우, 추가적인 권리 침해를 방지하기 위해 <a href="/page/right">권리침해신고센터(https://everytime.kr/page/right)</a>에서 해당 게시물에 대한 게시 중단 요청을 할 수 있습니다.</li>
                <li>이후 담당자의 확인을 통해 게시 중단 조치가 이루어지며, 게시 중단 사유가 공개됩니다.</li>
            </ol>

            <h5>기타</h5>
            <ol>
                <li>홍보게시판, 동아리·학회 게시판 등 일부 게시판은 글 작성 1시간 이후부터 3일 동안은 작성한 글을 삭제하거나 새로운 글을 게시할 수 없습니다.</li>
            </ol>
        </div>
        <hr>
    </div>
</body>