@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        #myInfoIndex{
            width:25%;
            float:left;
        }
        #index{
            margin-top:10px;
        }
        #content{
            width:70%;
            float:right;
            margin-left: 5%;
        }
    </style>
</head>

<body>
    <div id="myInfoIndex">
        <div class="card" >
            <div class="card-body">
                내정보
            </div>
        </div>
        <div class="list-group" id="index">
            <a href="#" onclick="location.href='https://localhost:44364/MyInfo/Index'" class="list-group-item list-group-item-action">
                기본 정보
            </a>
            <a href="#" onclick="location.href='https://localhost:44364/MyInfo/JobCertification'" class="list-group-item list-group-item-action">직업 인증</a>
            <a href="#" onclick="location.href='https://localhost:44364/myinfo/ChangeInfo'" class="list-group-item list-group-item-action">개인정보 변경</a>
            <a href="#" onclick="location.href='https://localhost:44364/myinfo/ChangePassword'" class="list-group-item list-group-item-action active">비밀번호 변경</a>
            <a href="#" onclick="location.href='https://localhost:44364/myinfo/Withdrawal'" class="list-group-item list-group-item-action">회원 탈퇴</a>

        </div>
    </div>
    <ul class="list-group" id="content">
        <li class="list-group-item list-group-item-dark">비밀번호 변경</li>
        <li class="list-group-item">현재 비밀번호</li>
        <li class="list-group-item">새 비밀번호</li>
        <li class="list-group-item">새 비밀번호 확인</li>

    </ul>
</body>