@page
@model NoName.Pages.BoardTemp.WriteModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/container.css" />

</head>

<body>
    <div id="content">
        <div class="card">
            <div class="card-body">직업게시판</div>
        </div>

        <div class="card">
            <div class=" card-body" id="post-context">
                글 내용 블라블라
            </div>
            <div class="card-footer">
                <form class="form-inline" id="search">
                    <input class="form-control mr-sm-2" id="writeComment" type="text" placeholder="댓글을 입력하세요" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">쓰기</button>
                </form>
            </div>
        </div>
        <button>글 목록</button>
    </div>

    <div id="sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue;">실시간 인기글</a>
            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>

        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue; margin-top:10px;">주간 인기글</a>
            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>

        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue; margin-top:10px;">HOT 게시글</a>
            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>

        </div>
    </div>
</body>