@page
@model NoName.Pages.ScaffoldingTest.TableJobPageCRUD.DeleteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TableJobPage</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TableJobPage.JobPageId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</body>
</html>
