@page
@model NoName.Pages.Account.Manage.PersonalDataModel
@namespace NoName.Pages.Account.Manage
@{
    ViewData["Title"] = "회원 탈퇴";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-lg-3">
        <partial name="_ManageNav" />
    </div>
    <div class="col-lg-9">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>계정에는 가입시 제공 받은 정보가 포함되어있습니다. 해당 정보를 삭제할 수 있습니다.</p>
        <p>
            <strong>정보 삭제 시, 계정이 영구적으로 지워지고, 복구는 불가능합니다.</strong>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        @*<form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>*@
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}