@*@using Microsoft.AspNetCore.Identity;*@
@namespace NoName.Data.DbUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Mypage/Note" title="쪽지함">쪽지함</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Manage/Profile" title="내정보">내정보</a>
            </li>
            <li class="nav-item">
                @*Url.Page("경로") 설정하면 로그아웃 이후에 찾아갈 페이지 경로 설정 할 수 있음*@
                <form class="form-inline" asp-area="" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Main")" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">로그아웃</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Register">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">로그인</a>
            </li>
        }
    </ul>
