@*@using Microsoft.AspNetCore.Identity;*@
@namespace NoName.Data.DbUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Mypage/Note" title="쪽지함">쪽지함</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Manage/Index" title="내정보">내정보</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Register">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">로그인</a>
            </li>
        }
    </ul>
