@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>이 글에 공감하십니까?</p>
                </div>
                <div class="modal-footer">
                    <a id="addLikeCountBtn"  class="btn btn-primary">확인</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>

                </div>
            </div>
        </div>
