@*
    Partial를 이용하여 SideBar 생성
    호출시 <partial name="full path"/>
*@
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue;">실시간 인기글</a>
    <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue; margin-top:10px;">주간 인기글</a>
    <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue; margin-top:10px;">HOT 게시글</a>
    <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
</div>