@page
@model NoName.Pages.Mypage.MyPostsModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/container.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">

                <div class="card">
                    <div class="card-body">내가 쓴 글</div>
                </div>

                <div class="card" id="postContents">

                    <div class="list-group">
                        @for (int i = 0; i < 10; i++)
                        {
                            <a asp-page="/Board/Detail" class="list-group-item list-group-item-action">글 목록 @(i + 1)</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <partial name="Sidebar" />
            </div>
        </div>
    </div>
</body>
