@{
}
<div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">신고하기</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="list-group list-group-flush">
                <a class="list-group-item" data-dismiss="modal">욕설/비하 </a>
                <a class="list-group-item" data-dismiss="modal">음란물/불건전한 만남 및 대화</a>
                <a class="list-group-item" data-dismiss="modal">상업적 광고 및 판매</a>
                <a class="list-group-item" data-dismiss="modal">유출/사칭/사기</a>
                <a class="list-group-item" data-dismiss="modal">도배</a>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">보내기</button>
        </div>

    </div>
</div>