@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <style>
       
        #sideBar {
            width: 25%;
            float: right;
        }
        #search{
             margin-top: 10px;
        }
        #realTime {
            margin: 10px;
        }

        #weeklyPost {
            margin: 10px;
        }

        #hotPost {
            margin: 10px;
        }
        #content{
            
            width: 65%;
            float: left;
        }
        #writePost{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div id="content">

        <div class="card" id="boardName">
            <div class="card-body">
                전체게시판
            </div>
        </div>

        <div class="input-group mb-3" id="writePost">
            <input type="text" class="form-control" placeholder="글 쓰기" aria-label="Recipient's username" aria-describedby="button-addon2" onclick="location.href='board/write'">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="location.href='board/write'">작성</button>
                
            </div>
        </div>

        <div class="list-group" id="postList">

            @for (var i = 0; i < 10; i++)
            {
                <a href="#" class="list-group-item list-group-item-action">글 목록 @(i + 1)</a>
            }
        </div>
    </div>

    <div class="float-right" id="sideBar">
        <form class="form-inline" id="search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
        <div class="realtimePupularPost" id="realTime">
            <a href="#" class="list-group-item list-group-item-action active">
                실시간 인기글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
        <div class="weeklyPost" id="weeklyPost">
            <a href="#" class="list-group-item list-group-item-action active">
                주간 인기글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
        <div class="hotPost" id="hotPost">
            <a href="#" class="list-group-item list-group-item-action active">
                HOT 게시글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
    </div>
</body>