@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>

        #sideBar {
            width: 25%;
            float: right;
        }

        #search {
            margin-top: 10px;
        }

        #realTime {
            margin: 10px;
        }

        #weeklyPost {
            margin: 10px;
        }

        #hotPost {
            margin: 10px;
        }

        #content {
            width: 65%;
            float: left;
        }

        #post-area {
            margin-top: 10px;
            max-height: 50%;
        }

        #post-context {
            height: 450px;
        }
    </style>
</head>
<body>
    <div id="content">
        <div class="card" >
            <div class="card-body">
                전체게시판
            </div>
        </div>

        <div id="post-area">
            <div class="card">
                <div class=" card-body" id="post-context">
                    글 내용 블라블라
                </div>
                <div class="card-footer" >
                    <form class="form-inline" id="search">
                        <input class="form-control mr-sm-2" id="writeComment" type="text" placeholder="댓글을 입력하세요" />
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >쓰기</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="float-right" id="sideBar">
        <form class="form-inline" id="search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
        <div class="realtimePupularPost" id="realTime">
            <a href="#" class="list-group-item list-group-item-action active">
                실시간 인기글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
        <div class="weeklyPost" id="weeklyPost">
            <a href="#" class="list-group-item list-group-item-action active">
                주간 인기글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
        <div class="hotPost" id="hotPost">
            <a href="#" class="list-group-item list-group-item-action active">
                HOT 게시글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
    </div>
</body>