@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>

        #sideBar {
            width: 25%;
            float: right;
        }

        #search {
            margin-top: 10px;
        }

        #realTime {
            margin: 10px;
        }

        #weeklyPost {
            margin: 10px;
        }

        #hotPost {
            margin: 10px;
        }

        #content {
            width: 65%;
            float: left;
        }

        #post-area {
           margin-top: 10px;
           max-height: 50%;
        }

        #post-context {
            height:  450px;
        }
    </style>
</head>
<body>
    <div id="content">
        <div class="card" id="boardName">
            <div class="card-body">
                전체게시판
            </div>
        </div>

      
        <form id="post-area" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="글 제목">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="40" id="post-context" placeholder="여기를 눌러서 글을 작성할 수 있습니다.
                              아래 내용을 모두 지켜서 깨끗한 에브리타임을 만들어주세요 :)
                              [정보통신망법에 의한 홍보 게시물 작성 금지]
                              1. 회사 /단체와 관련된 공모전, 대외활동, 구인, 펀딩 홍보
                              2. 커뮤니티, 어플, 쇼핑몰, 카페, 블로그 홍보 및 방문 유도
                              3. 토익, 한자 등 어학원 홍보
                              4. 연극, 영화 티켓 할인 서비스 홍보
                              5. 안과, 치과, 피부과 등 의료업체 홍보
                              [커뮤니티 이용규칙에 어긋나는 행위 금지]
                              1. 비밀게시판 등 인증 후 사용할 수 있는 게시판의 스크린샷, 게시물 내용 유출
                              2. 욕설, 비하, 음란물, 개인정보가 포함된 게시물 게시
                              3. 특정인이나 단체 /지역을 비방하는 행위
                              4. 기타 현행법에 어긋나는 행위
                              자세한 내용은 홈 탭 우측 상단의 [내 정보]> [커뮤니티 이용규칙]을 참고하시기 바랍니다." class="smallplaceholder large"></textarea>
                </div>
                    <button type="submit" class="btn btn-primary">게시</button>
        </form>
    </div>
    <div class="float-right" id="sideBar">
        <form class="form-inline" id="search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
        <div class="realtimePupularPost" id="realTime">
            <a href="#" class="list-group-item list-group-item-action active">
                실시간 인기글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
        <div class="weeklyPost" id="weeklyPost">
            <a href="#" class="list-group-item list-group-item-action active">
                주간 인기글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
        <div class="hotPost" id="hotPost">
            <a href="#" class="list-group-item list-group-item-action active">
                HOT 게시글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
    </div>
</body>