@page
@model NoName.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "비밀번호 초기화 확인";
}

<h1>@ViewData["Title"]</h1>
<p>
    비밀번호가 초기화 되었습니다. <a asp-page="./Login"> 눌러서 다시 로그인 해주세요.</a>.
</p>
