@page
@model NoName.Pages.Temp.MainPageModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/container.css" />
</head>

<body>
    <div id="content">
        <div id="aboutMe" style="float:left">
            <div class="card"  style="width:15rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">내 정보</h5>
                    <p class="card-text" style="text-align:center">홍길동</p>
                    <p class="card-text" style="text-align:center">hgd111</p>
                    <a class="btn btn-dark" asp-area="" asp-page="/Index" style="float:right;width:6rem; border:thin;">로그아웃</a>
                </div>
            </div>

            <div class="list-group" style="margin-top:10px">
                <a class="list-group-item list-group-item-action" asp-area="" asp-page="/Temp/MyPosts">내가 쓴 글</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-page="/Temp/CommentPost">댓글 단 글</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-page="/Temp/MyScrap">스크랩</a>
            </div>
        </div>

        <div class="card" id="boardContents" style=" width:20%;">
            <div id="banner">

            </div>
            <div class="list-group" style="width:250px;">
                <a href="#" class="list-group-item list-group-item-action" style="color:blue;">자유게시판</a>
                <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
            </div>
            <div class="list-group" style="width:250px;margin-top:10px;">
                <a href="#" class="list-group-item list-group-item-action" style="color:blue;">정보게시판</a>
                <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
                <a href="#" class="list-group-item list-group-item-action">글 목록1</a>
            </div>
        </div>

       
    </div>

    <div id="sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue;">실시간 인기글</a>
            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>

        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue; margin-top:10px;">주간 인기글</a>
            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>

        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled" style="color:white; background-color:blue; margin-top:10px;">HOT 게시글</a>
            <a href="#" class="list-group-item list-group-item-action">글 목록1</a>

        </div>
    </div>
</body>